/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {	content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* End of Meyer's reset */

/* General */
a { outline: none; }
body { background: url('../images/bg_face_portfolio.png') fixed center -27px no-repeat #ddd; color: #333; font-family: 'Quattrocento', serif; font-size: 62.5%; text-align: center; }
body.portfolio { background: #ddd; }
h1 { font-family: 'Oswald', sans-serif; font-size: 8em; margin: 30px 0 10px 0; text-transform: uppercase; }
h1:first-letter { letter-spacing: -0.05em; }
h2 { font-size: 3em; line-height:1.4em; margin-bottom: 8px; }
h3 { font-family: 'Oswald', sans-serif; font-size: 4em; margin-bottom: 20px; }
a { text-decoration: none; }
p { font-size: 1.6em; line-height: 1.33em; max-height: 5000em; } /* Max height hack stops automatic font boosting in Android browser */
p a { background: #fff; color: #333; }
p a:hover, p a:focus { background: #333; color: #fff; }

/* Index */
.arrow { border-color: transparent transparent #ddd transparent; border-style: solid; border-width: 10px; height:0; width:0; position: relative; left: 80px; top: 60px; transition: left 2s; }
.arrow.rightSide { left: 270px; }
.content{ float:left; width:610px; }
.content p { margin: 0 auto 15px auto; text-align: justify; text-justify: auto; width: 410px; }
#contentContainer { margin: 0 auto; overflow: hidden; width: 610px; }
footer { background: #333; background: rgba(0,0,0,0.8); color: #fff; padding: 30px; }
#contentContainer.showWhat { -moz-animation: shadowAnim 0.8s ease-in-out; -webkit-animation: shadowAnim 0.8s ease-in-out; -ms-animation: shadowAnim 0.8s ease-in-out; }
#contentContainer.showWho { -moz-animation: shadowAnim2 0.8s ease-in-out; -webkit-animation: shadowAnim2 0.8s ease-in-out; -ms-animation: shadowAnim2 0.8s ease-in-out; }
#contentContainer.clearAnim { -moz-animation:none; -webkit-animation:none; -ms-animation:none; }
#formContainer { margin: 0 auto; width: 550px; }
h2#subTitle { font-size: 2.2em; margin: 0 0 30px 0; }
#indexNav ul { font-family: 'Oswald', sans-serif; font-size: 4em; margin: 0 auto 20px auto; overflow: hidden; width: 380px; }
#indexNav ul  li { border: 4px solid #333; color: #333; cursor: pointer; display: block; float: left; padding: 15px 0; width: 182px; }
#indexNav ul li.active, #indexNav ul li:hover { background: #333; color: #fff; }
#indexNav ul  li a{ color: #333; }
#indexNav ul li.active a, #indexNav ul li:hover a, #indexNav ul li a:focus{ background: #333; color: #fff; }
#innerContent { width:1220px; position:relative; transition: left 1s; }
#me { height: 408px; margin: 20px auto 30px auto; overflow: hidden; width: 408px; }
#me img { float: left; }
#me, #me img, #portfolio ul, #portfolio ul li { border: 2px solid #333; }
#myName { background: #333; border: 4px solid #fff; color: #fff; display: block; margin: -60px 0 0 0; padding: 5px 2px; position: relative; left: 60px; top: 232px; text-align: center; width: 280px; }
#portfolio { margin: 25px auto 50px auto; width: 466px; }
#portfolio ul { margin-top: 25px; overflow: hidden; }
#portfolio ul li { float: left; height: 150px; width: 150px; margin: 0px; text-align: left; }
#portfolio ul li:hover a.portfolioTitle, #portfolio ul li a.portfolioTitle:focus { background: rgba(0, 0, 0, 0.75); }
#portfolio ul li img { transition: opacity 0.3s; }
#portfolio ul li a:hover img, #portfolio ul li a:focus img { opacity: 0.75; }
a.portfolioTitle { background: rgba(0, 0, 0, 0.5); color: #fff; font-size: 2.4em; font-family: 'Oswald', sans-serif; padding:5px 10px; position:relative; top:-36px; height:28px;  transition: background 0.3s; }
.showWhat #innerContent { left: 0; }
.showWho #innerContent { left: -610px; }

/* Portfolio */
#imgContainer { position: relative; left: 400px; top: 10px; padding-bottom: 5px; width: 564px; }
#imgContainer .portfolioImage { background: #fff; border: 2px solid #fff; margin-bottom: 15px; }
#portfolioContainer{ margin: 0 auto; width: 960px; }
#portfolioDescription { min-height:280px; }
#portfolioDescription p { text-align: justify; text-justify: auto; width: 378px; }
#portfolioFixed { background: url('../images/bg_face_portfolio.png') bottom left no-repeat; height: 100%; width: 396px; position: fixed; overflow-y: auto; text-align: left; }
#portfolioFixed a h1 { background: #333; color: #fff; font-size: 6.1em; margin: 10px 0 2px 0; padding: 5px 0 7px 0; text-align: center; width: 378px; }
#portfolioFixed a:hover h1, #portfolioFixed a:focus h1 { background: #fff; color: #333; }
#portfolioFixed h2 { font-family: 'Oswald', sans-serif; font-size: 4em; margin-bottom: 5px; }
#portfolioFixed h3 { clear: left; font-size: 2.7em; margin: 6px 0; }
.portfolioImage p { background: #fff; font-size: 1.5em; line-height: 1.3em; margin: -2px 0 0 0; padding: 6px 8px 6px 8px; text-align: justify; text-justify: auto; }
.portfolioImage p a { background: #ddd; }
.portfolioImage p a:hover, .portfolioImage p a:focus { background: #333; color: #fff; }
#ptFace { background: url('../images/portfolio/animGrad.gif'); }
#siteLink { margin-bottom: 10px; }
#siteLink a { padding: 3px 3px 2px 3px; text-transform: uppercase; }

/* Portfolio nav */
#navs { position: relative; }
#portfolioList { background: #333; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); display: none; padding: 5px 0; position: absolute; bottom: 73px; left: 114px; width: 158px; }
#portfolioList ul li a { color: #fff; display: block; font-family: 'Oswald', sans-serif; font-size: 1.6em; padding: 5px 10px 8px 10px; }
#portfolioList ul li a:hover, #portfolioList ul li a:focus { background: #fff; color: #333; }
#listArrow { border-color: #333 transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; bottom: -20px; left: 69px; }
#portfolioList ul li a.current { color:#aaa; }
#portfolioNav { background:#333; border:4px solid #333; height:50px; margin: 15px 0 8px 114px; width:150px; opacity:0.6; transition: opacity 0.7s; }
#portfolioNav:hover, #portfolioNav:focus { opacity: 1; }
#portfolioNav a { display: block; float: left; height: 50px; width: 50px; font-size: 1px; text-indent: -9999px; }
a#previous { background: url('../images/portfolioNav.gif') no-repeat; }
a#previous:hover, a#previous:focus { background: url('../images/portfolioNav.gif') 0 -50px no-repeat; }
a#menu { background: url('../images/portfolioNav.gif') -50px 0 no-repeat; cursor: pointer; }
a#menu:hover, a#next:focus { background: url('../images/portfolioNav.gif') -50px -50px no-repeat; }
a#next { background: url('../images/portfolioNav.gif') -100px 0 no-repeat; }
a#next:hover, a#next:focus { background: url('../images/portfolioNav.gif') -100px -50px no-repeat; }

/* Amusing animation for the index */
@keyframes shadowAnim {
	0% { box-shadow:none; }
	20% { box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
	70% { box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
	100% { box-shadow:none; }
}
@keyframes shadowAnim2 {
	0% { box-shadow:none; }
	20% { box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
	70% { box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
	100% { box-shadow:none; }
}
@-webkit-keyframes shadowAnim {
	0%, 100% { -webkit-box-shadow:none; }
	20%, 70% { -webkit-box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
}
@-webkit-keyframes shadowAnim2 {
	0%, 100% { -webkit-box-shadow:none; }
	20%, 70% { -webkit-box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
}
@-ms-keyframes shadowAnim {
	0%, 100% { box-shadow:none; }
	20%, 70% { box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
}
@-ms-keyframes shadowAnim2 {
	0%, 100% { box-shadow:none; }
	20%, 70% { box-shadow:inset 10px 0 10px -10px rgba(0, 0, 0, 0.5), inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); }
}

/* Mobile/Narrow Window Styling */
@media only screen and (max-width: 959px), only screen and (max-device-width: 959px) {
	body.portfolio { background: url('../images/bg_face_portfolio.png') fixed center top no-repeat #ddd; }
	#imgContainer { left: 0; }
	#portfolioContainer{ width: 564px; }
	#portfolioDescription p { background: rgba(221, 221, 221, 0.2); width:540px; }
	#portfolioFixed { background: none; height: auto; width: 540px; margin:0 auto; overflow: hidden; position: relative; }
	#portfolioFixed a h1 { width: 564px; }
	#portfolioList { left: 191px; }
	#portfolioNav { margin: 25px auto; }
}

@media only screen and (max-width: 564px), only screen and (max-device-width: 564px)) {
	#portfolioContainer{ width: 100%; }
	#portfolioDescription{ width: 95%; margin: 0 auto; }
	#portfolioDescription p { width: 100%; text-align: left; }
	#portfolioFixed { width: 100%; }
	#portfolioFixed a h1 { width: 100%; }
	#imgContainer{ width: 95%; margin: 0 auto; }
	.portfolioImage { width: 100%; }
	.portfolioImage img { width: 100%; }
	.portfolioImage p { text-align: left; }
	#portfolioList { left: 50%; margin-left: -79px; }
	#listArrow { left: 50%; margin-left: -10px; }
}
