a {
    outline: none;
    text-decoration: none;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
    padding: 40px 40px 0.2vw 40px;
    color: rgba(255,255,255,0.9);
}

.date {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 1vw;
}


h2 {
    font-size: 2.4vw;
    margin: 40px 0 0.2vw 40px;
    color: rgba(255,255,255,0.9);
}

h3 {
    font-size: 1.4vw;
    text-transform: uppercase;
    margin: 2vw 40px 0.5vw;
    color: rgba(255,255,255,0.9);
}

p {
    font-size: 1.4vw;
    line-height: 1.5em;
}

p a {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    transition: 300ms background-color;
}

p a:hover, p a:focus {
    background: black;
    color: white;
}

section {
    width: 100%;
    clear:both;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    position: relative;
}

section:nth-child(even){
    background-color: rgba(0,0,0,0.1);
}

section p {
    padding: 0 40px 0;
    margin: 0 0 2.2vw;
}

nav {
    float: right;
    margin: 36px 32px;
    padding: 10px;
    color: black;
}

nav h3 {
    text-align: right;
    float: right;
    clear: both;
    margin: 0;
    padding: 0.3vw 0.5vw;
    background-color: rgba(255,255,255,0.6);
    display: inline-block;
    color: black;
}

nav a {
    text-align: right;
    float: right;
    clear: both;
    cursor: pointer;
    font-size: 1.4vw;
    padding: 4px 8px;
    background-color: rgba(255,255,255,0.6);
    display: inline-block;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgba(255,255,255,0.9);
}

.photo-credit {
    position: absolute;
    bottom: 40px;
    right:40px;
    color: rgba(255,255,255,0.7);
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
    font-size:1.4em;
    transition: 0.5s;
}

.about .photo-credit {
    display: none;
}

.photo-credit:hover {
    color: white;
    text-shadow: 0 0 8px black;
}

.split {
    width: 50%;
    overflow: hidden;
    float: left;
}

.section-brief p {
    font-size: 2vw;
}

.portrait {
    background-color: rgba(0,0,0,0.2);
    background-image: url('../images/portrait_by_myles_katherine.jpg');
    background-size: cover;
    background-position: center;
}

.portfolio-entry {
    overflow: hidden;
}

.portfolio-text p a {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.portfolio-text p a:hover, .portfolio-text p a:focus, .portfolio-text p a:active {
    background-color: black;
}

.sample {
    display: none;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0,0,0,0.2);
    padding: 40px 0;
}

.image-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    cursor: e-resize;
    vertical-align: middle;

}

.image-wrap:last-of-type{
    cursor: w-resize;
}

.portfolio-image img {
    position: relative;
    top: 50%;
    transform:translateY(-50%);
    width: 92%;
    object-fit: contain;
    max-height: 40vw;
    margin-left: 4%;
    margin-right: 4%;
}

.image-nav {
    position: absolute;
    bottom: 10px;
    right: 25%;
    transform: translateX(50%);
    z-index: 10;
    transition: 300ms background-color;
}

.dot {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    margin: 2px;
    transition: 300ms background-color;
}

.dot:hover, .dot:focus, .dot:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.dot input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.selected {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
    cursor: pointer;
    border-radius: 100%;
    transition: 300ms opacity;
}

.dot input:checked~.selected {
    opacity: 1;
}

@media all and (max-width: 1024px) {

    h1 {
        margin-top: 60vh;
        font-size: 10vw;
        padding: 0 4vw 0.5vw;
        text-shadow: 0 0 3vw black;
        color: white;
    }

    h2, h3 {
        padding: 2vw 4vw 0;
    }

    h2 {
        font-size: 5vw;
        margin:1vw 0 0.5vw;
    }

    h3 {
        margin:3vw 0 0.5vw;
        font-size: 4vw;
    }

    section p {
        padding: 0 4vw 0;
        margin: 0;
        clear: both;
    }

    .portrait {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.7;
    }

    nav {
        display: none;
    }

    .photo-credit {
        bottom: 10px;
        right: 20px
    }

    .portrait .photo-credit{
        display: none;
    }

    .split {
        width: 100%;
    }

    .section-brief p{
        font-size: 5vw;
        text-shadow: 0 0 4vw black;
        color: white;
        margin-bottom: 4vw;
    }

    .section-summary {
        height: auto;
    }

    .summary-contents {
        top: auto;
        transform: none;
        margin-bottom: 40px;
    }
    .summary-contents p{
        background-color: rgba(0,0,0,0.5);
        margin: 2vw 2vw;
        padding: 1vw 2vw 2vw;
        font-size: 4vw;
    }

    .portfolio-entry {
        height: auto;
        clear: both;
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio-text.split {
        height: auto;
        padding: 2vw 0 6vw;
    }

    .portfolio-text p {
        font-size: 4vw;
    }

    .sample {
        background-color: rgba(63, 66, 65, 0.2);
        display: inline-block;
        padding: 1.5vw 2vw 1vw 2vw;
        margin-left: 4vw;
        margin-bottom: 0;
    }

    .portfolio-entry:nth-child(odd) .sample {
        background-color: rgba(60, 57, 58, 0.2);
    }

    .portfolio-image.split {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .image-wrap {
        scroll-snap-align: center;
    }

    .portfolio-image img {
        max-height: 60vh;
    }

    .image-nav {
        right: 50%;
    }
}
